*{
    margin: 0;
    padding: 0;
    border-style:border-box ;
}
body{
  
   
}
/* header */
.header{
    width: 100%;
    background-color: #fff;
}
.header-icon1{
    position: relative;
   
}
.header-icon{
    position: absolute;
    top: -25px;
    left: 35px;
}
.nav-item a{
   font-size: 15px;
   font-weight: 500;
   margin: 7px;
}
.nav-item a:hover{
  background-color:#f0f4e8 ;
}

.login{
    font-size: 15px;
    font-weight: 500;
    margin: 7px;   
}
.login:hover{
    text-decoration: underline;
}
.Sign a{
 background-color: #80a43f;
 padding: 8px 18px;
 border-radius: 8px;
 text-decoration: none;
 color: #fff;
 font-size: 15px;
   font-weight: 500;
 
}
.Sign{
margin-top: 15px;
}
.Sign:hover{
    opacity: 0.9;
}
/* section1 */
.rgb-pic{
    width: 100%;
}
.section1 h1{
 position: relative;
 font-size: 70px;
 line-height: 1.1;
 font-weight: 700;
}
.registered i{
    position: absolute;
    top: 80px;
    left: 310px;
    font-size: 13px;
  
}
.Create p{
 font-size: 20px;
 color: #4d5156;
}
.start{
   
    font-size: 18px;
    font-weight: 500;
    background-color: #80a43f;
    padding: 8px 30px;
    border-radius: 20px;

}
.start a{
    text-decoration: none;
    color: #fff;
}
.start:hover{
    opacity: 0.8;
    color: #fff;
}
.start i{
    font-size: 13px;
    margin-left:7px ;
}

.Order{
 
 font-size: 18px;
 font-weight: 500;
 margin-top: 10px;

}
.Order a{
    text-decoration: none;
    color:white ;
    background-color: #80a43f;
    padding: 10px 15px;
    border-radius: 20px;
    
}
.Order a:hover{
    color:#42493a;
    background-color: #fff;
    text-decoration: underline;
}
.solid i{
    font-size:16px;
    margin-right: 10px;
    background: #b4d678;
    color: #fff;
   
}
.solid{
    font-size: 18px;
    color: #4d5156;
    margin-top: 5px;
}
.long{
  position: relative;
}
.slide-img{
    position: absolute;
    top: 80px;
    left: 120px;
}
.long img{
    width: 500px;
}
.carousel-inner{
    margin-left: 35px;
}

/* section2 */
.mockup p{
   font-size: 17px;
   color:#4d5156 ;

}

.svg-pic{
    width: 100%;
    height: 100%;
    gap: 8rem;
}
.svg-pic span{
    margin-top: -8rem;
}
/* section3 */
.Clothing-type{
    width: 100%;
}
.Clothing{
    box-shadow:  2px 2px 2px 2px rgb(243, 242, 242);
    transition: all 0.1s;
}
.Clothing:hover{
   transform: scale(1.15);
}
.mens p{
    font-size: 18px;
    color: #4d5156;
}

.view a{
   text-decoration: none;
   color: #4d5156;
   font-size: 18px;
}
.view a:hover{
    text-decoration: underline;
    opacity: 0.8;
}

.svg-pic{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.svg-pic2{
    position: relative;
}

/* section4 */
.offer{
    background-color: #f5f4f4;
}
.offer2 p{
  font-size: 17px;
  color: #4d5156;
}
.offer1{
   padding: 100px 0px;
}
/* section5 */
.backround{
    background-image: url(../images/dotpic1.jpg);
    color: #4d5156;
    height: 300px;
    width: 450px;
    position: relative;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.backround1 a img{
    position: absolute;
    top: 50px;
    border-radius: 10px;
}
.backround1{
    position: relative;
}
.play-button{
    position: absolute;
    top: 320px;
    left: 430px;
    border:solid 8px rgb(196, 193, 193) ;
    border-radius: 50px;
   
}
.arrow svg{
   margin-left: 355px;
    rotate: 190deg;
    margin-top: 50px;
    position: relative;
}
.arrow1{
  margin-left: 250px;
  color: #4d5156;
  font-size: 13px;
 
}
.Awkward p{
  font-size: 18px;
  color: #4d5156;

}
.Awkward a{
    text-decoration: none;
    color: #4d5156;
    font-size: 18px;
}
.Awkward a:hover{
  text-decoration: underline;
}

/* section6 */
.connect p{
   font-size: 18px;
   color: #4d5156;
}
/* .connect{} */
.connect1{    
   height: 500px;
   position: relative;
}

.connect2{
    position: absolute;
    width: 100%;
    height: 100%;
}
.line-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;

}
.line-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 72%;
    width: 72%; 
}
.line-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 40%;
    width: 40%;

}
.line-1 svg{
    width: 100%;
    height: 100%;
}
.line-2 svg{
    width: 100%;
    height: 100%;
}
.line-3 svg{
    height: 100%;
    width: 100%;
}
.round-logo{
    height: 100px;
    width: 100px;
    left: 53%;
    top: 43vh;
    transform: translate(-50%,-50%);
}
.round-shopify{
    height: 80px;
    width: 80px;
    position: absolute;
    left: 25%;
    top: 27vh;
    transform: translate(-50%,-50%);
}
.round-woocommerce{
    height: 90px;
    width: 90px;
    position: absolute;
    left: 73%;
    top: 22vh;
    transform: translate(-50%,-50%);
}
.round-etsy{
    height: 90px;
    width: 90px;
    position: absolute;
    left: 27%;
    top: 57vh;
    transform: translate(-50%,-50%)  
}
.round-order-desk{
    height: 100px;
    width: 100px;
    position: absolute;
    left: 63%;
    top: 68vh;
    transform: translate(-50%,-50%)  
}
.custom-api{
    height: 70px;
    width: 70px;
    position: absolute;
    left: 87%;
    top: 45vh;
    transform: translate(-50%,-50%)  
}
/* section 7 */

.linear{
    background-color:#f5f1f1 ;
     width: 100%;  
}


.cliping{
    position: relative;
}
.cliping i{
    color: #dfdcdc;
    font-size: 25px;
}
.cliping p{
    font-size: px;
    color: #4d5156;
}
.cliping p a{
   color: #4d5156;
} 
.cliping p a:hover{
   text-decoration: none;
}
.path2{
    margin-left: 95px;
    margin-top: 7px;
}
.path2 h6{
    font-size: 13px;
    margin-left: 68px;
    color: #42493a;
    line-height: 1px;
}
.path2 p{
    font-size: 13px;
    color: #4d5156;
}
.path3 h6{
    font-size: 13px;
    margin-left: 270px;
    color: #42493a;
}
.path4{
    margin-left: 130px;
    margin-top: 10px; 
}
.path4 p{
    font-size: 13px;
    color: #4d5156;
}
.path4 h6{
    font-size: 13px;
    margin-left:55px; 
    color: #42493a;
    line-height: 1px;
}
.cliping-path{
    clip-path: polygon(15% 1%, 100% 1%, 13% 97%);
    height: 20px;
    width: 40px;
    position: absolute;
    top: 170px;
    left: 310px;
}
.overflow{
    background-image: url(../images/overflow\ .png);
    padding: 40px;
    width: 100%;
}

/* footer section */
.footer{

    width: 100%;
    background-color: #f5f1f1;
    position: relative;
}
.footer1{
    position: absolute;
    top: 0;
    left: 0;
   
}
.footer2{
    z-index: 1;
}
.footer2 a{
    text-decoration: none;
    color: #4d5156;
}
.footer2 a:hover{
    text-decoration: underline;
}
.footer4 a img{
  color: #4d5156;
}
.footer5 p{
    color: #4d5156;
}
.footer5{
    line-height: 0.5;
    margin-top: 15px;
}
.footer5 a{
    text-decoration: none;
    color: #4d5156;
}
.footer5 a:hover{
    color: black;
}
.footer6{
   
    margin-top: 15px;
}
.footer6 i{
    margin: 10px;
    font-size: 25px;
    color: #4d5156;
}

/* signup section */
.sign-up1 p a{
    text-decoration: none;
    color: #42493a;
    border: 1px solid #42493a;
    padding: 2px 8px;
    border-radius: 5px;
 
}


.sign-in{
    margin-left: 40%;
    border: 1px solid #c7c7c7;
    width: 150px;
    border-radius: 5px;
}


 

    /* cnotuct form */

    .siction-header h2{
      font-size:45px;
     }

     
     .siction-header p{
      font-size:15px;
      color: rgb(111, 109, 109);
     }
     .name {
      font-size: 15px;
      color:rgb(111, 109, 109) ;
    }
    .name a{
        color:rgb(111, 109, 109) ;
    }

    /* line create */
    .line{
        text-align: center;
        position: relative;
    }
    .line::before{
        background-color: #c7c7c7;
        display: block;
        width: 250px;
        height: 1px;
        content: "";
        position: absolute;
        left: 0;
        top: 15px;
    }
    .line::after{
        background-color: #c7c7c7;
        display: block;
        width: 250px;
        height: 1px;
        content: "";
        position: absolute;
        right: 0;
        top: 15px;
    }
    .line {
        color: #c7c7c7;
    }
    .learn{
       color: #fff;
       background-color: #b4c792;
       border: none;
       font-weight: bold;
    }
    .learn:hover{
        color: #fff;
        background-color: #b4c792;
    }
    .help p{
     color:rgb(111, 109, 109) ;
    }
    .help1{
       
    }
    .help1 a{
        text-decoration: none;
        color: #42493a;
        
    }
    .help1 a:hover{
        text-decoration: underline;
    }
    /* login */
    .forget{
        text-decoration: none;
        color: black;
        font-weight: 200px;
    }
    .forget:hover{
        color: black;
        text-decoration: underline;
    }
    .print{
        color: #4d5156;
    }

    /* Product Catalog */
    /* section 1 */

   .box{
      position: relative;
      height: 50px;
      width: 100%;
      border: 1px solid #dfe0e0;
   }
   .box:hover{
    border: 1px solid #80a43f;
   }
   .search-icon{
    position: absolute;
    top: 4px;
    left: 5px;
    padding:4px 10px;
    color: #4d5156;
    font-size: 20px;
   }
   .box input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
   }




.signin1{
    
    border: 1px solid #c7c7c7;
    line-height: 1px;
    border-radius: 5px;
   padding-top: 12px;
   width: 210px;
}
.signin1 a{
    text-decoration: none;
    color: #fff;
    background-color: #80a43f;
    border: 1px solid #80a43f;
    font-size: 18px;
    padding: 5px 10px;
}
.gmail{
    font-size: 12px;
   
}
.gmail span{
 font-weight: bold;
}

/* deshboard */
.icon i{
    color: #4d5156;
}
.icon span{
    color: #4d5156;
}

/* sideber */

/* img design */
.img-holder{
    overflow: hidden;
}
.img-holder img{
    transition: all 1.5s ease;
}
.img-holder img:hover{
    transform: scale(1.1);
   
}
.card-holder:hover{
    box-shadow: 0 8px 8px 0 rgba(187, 207, 178, 0.2), 0 6px 20px 0 rgba(187, 207, 178, 0.2);
}
.card-body p{
    font-size: 20px;
    
}

/* section3 */
.productes1 span{
    font-size: 25px;
    color: #80a43f;
}
.productes1 h2{
    font-size: 50px;
}
.productes1 p{
    color: #a19faf;
    font-size: 20px;
}
.productes1 a{
    color: #a19faf;
    font-size: 22px;
}
 /* accordin */

 .accordion-item{
    border: none;
    position: relative;
 }
 .accordion-item:hover{
    content: "";
    background-color: #fff;
    border: none ;
 }
 

 .accordion-button{
    background-color: #fff !important;
    color: black;
    position: relative;
   box-shadow:  0 8px 8px 0 rgba(244, 214, 214, 0.2), 0 6px 20px 0 rgba(246, 225, 225, 0.2);
   border: none;
 }
 .accordion-button h6{
    color:black;
 }
 .accordion-body p{
    color: #4d5156;
    box-shadow:0 8px 8px 0   rgba(246, 225, 225, 0.2) ;
    font-size: 18px;
    width: 100%;
   
 }

 .accordion-button:active,  .accordion-button:focus{
    border: none;
 }
 .accordion-button:hover{
   background-color: #fff;
   color: black;
  
 }
 .accordion-body{
    border: none;
 }
 


/* pricing */
/* section1 */

.backround-img3{
    width: 100%;
   
    border-radius: 10px;
    background: linear-gradient(90deg, #f3c53c 0%, rgba(235, 235, 139, 0.867) 100%);
   
}
.rocket1 p{
    color: #4d5156;
    font-size: 18px;
}

.rocket1 p span{
    color: black;
}
.rocket1 h2{
    color: #42493a;
    font-size: 40px;
}
.switch input{
   border: none;
   height: 20px; 
 
}
.switch label{
    color: black;
    font-weight: bold;
}
.switch1 p{
    color: black;
    font-weight: bold;
}
.switch label a{
 text-decoration: none;
 color: black;
 background-color: rgb(245, 222, 222);
 font-weight: normal;
 border-radius: 5px;
 padding: 2px;

}
/* section2 */
.pro{
    border:1px solid rgb(240, 238, 238);
    border-radius: 10px;
    width: 357px;
}
.pro:hover{
    border:1px solid #fedb6a;
    border-radius: 10px;
}
.pro1 p{
    color: #4d5156;
}
.pro2 a{
    text-decoration: none;
    color: black;
    background-color: #fedb6a;
    padding: 10px 110px;
    border-radius: 4px;
    font-size: 18px;
}
.pro3 a{
  text-decoration: none;
  line-height: 1px;
  color: black;
  font-size: 13px;
  font-weight: bold;
}
.pro1{
    width: 350px
}
.pro1 h2{
    font-size: 33px;
    font-weight: bold;
}
.pro4{
    background-color: #fdf2d6;
}
.pro5{
    position: relative;
}
.pro6{
    position: absolute;
    top: 0;
    left:170px;
    display: block;
}
.pro6 p{
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 2px 12px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.pro7 a{
    text-decoration: none;
    color: black;
    background-color: #fff;
    padding: 10px 110px;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid #fedb6a;  
}

.pro7 a:hover{
    background-color: #fedb6a;
}

/* section3 */

.feature2 li{
  list-style: none;
  color: #4d5156;
  margin: 18px 0;
}
.feature{
 box-shadow:0 8px 8px 5px   rgba(25, 25, 25, 0.2) ; 
 border-radius: 10px;  
}
.check4{
  font-size: 18px;
  color: #e1b72e; 
  font-weight: bold; 
}
.check3{
    font-weight: bold;
    font-size: 18px;
}
.feature3 li{
    list-style: none;
}
.feature3 li i{
    background-color: rgb(36, 161, 72 );
    color: #fff;
    border: none;
    font-size: 11px;
    padding: 3px 3px;
   
}
.check2{
    position: relative;
    background-color: #fdf2d6;
    border-radius: 10px;
   
}
.recommend{
  position: absolute;
  top: -10px;
  left:90px;
  font-size: 13px;
}
.feature4{
    font-size: 30px;
    list-style: none;
    color: #828486;

}
.get a{
  text-decoration: none;
  background-color: #fedb6a;
  border: 1px solid #fedb6a;
  color: black;
  padding: 7px 35px;
  border-radius: 3px;
  font-size: 18px;
}
.get1 a{
    text-decoration: none;
  background-color: #fedb6a;
  border: 1px solid #fedb6a;
  color: black;
  padding: 7px 50px;
  border-radius: 3px;
  font-size: 18px; 
}
.get2 a{
  text-decoration: none;
  background-color: #fedb6a;
  border: 1px solid #fedb6a;
  color: black;
  padding: 7px 42px;
  border-radius: 3px;
  font-size: 18px; 
}

/* section4 */

.dis span{
 margin-left:110px ;
 color: rgb(95, 93, 93);
 font-weight: bold;
 font-size: 13px;
}
.dis{
    color:#808081 ;
    
}
.dis hr{
    color: #efeded;
}
.discount-item{
    line-height: .6;
}
.boy img{
    width: 100%;
    height: auto;
}
.boy1 a{
 text-decoration: none;
 color: black;
 font-size: 18px;
 

}
.boy1 a:hover{
    text-decoration: underline;
}
.dis2{
    color: #80a43f;
}

.dis2 span{
    margin-left:149px ;  
    color: #80a43f;
    font-weight: bold;
    font-size: 13px;
}
.dis1 span{
    margin-left:145px ;
 color: rgb(95, 93, 93);
 font-weight: bold;
 font-size: 13px;
}
.dis1 {
    color:rgb(95, 93, 93) ;
}

/* section6 */

.pfizer img{
filter: grayscale(1);
opacity: .3;
}
.pfizer img:hover{
    opacity: 100%;
    filter: grayscale(0);
}
.pfizer1{
    padding: 20px 90px;
}
.TRUSTED h6{
 color: #b0b0b1;
}

/* section7 */

.Frequently p{
  font-size: 18px;
}
.Frequently p a{
    color: black;
}

.accordion{
 width: 100%;
}
.accordion li{
    list-style: none;
    width: 100%;
    margin:  0 20px;
    padding:0 10px;
    
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 22px;
}
.label::before{
    content: '';
    font-size: 22px;
    font-weight: 500;
    
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    color: #7b7979;
    padding: 0 10px;
    overflow: hidden;
    max-height: 0;
    line-height: 26px;
    transition: max-height 0.5s, padding 0.5s;
    
}
.accordion input [type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}
