*{
    margin: 0;
    padding: 0;
    border-style:border-box ;
}
body{
  
   
}
/* header */
.header{
    width: 100%;
    background-color: #fff;
}
.header-icon1{
    position: relative;
   
}
.header-icon{
    position: absolute;
    top: -25px;
    left: 35px;
}
.nav-item a{
   font-size: 15px;
   font-weight: 500;
   margin: 7px;
}
.nav-item a:hover{
  background-color:#f0f4e8 ;
}

.login{
    font-size: 15px;
    font-weight: 500;
    margin: 7px;   
}
.login:hover{
    text-decoration: underline;
}
.Sign a{
 background-color: #80a43f;
 padding: 8px 18px;
 border-radius: 8px;
 text-decoration: none;
 color: #fff;
 font-size: 15px;
   font-weight: 500;
 
}
.Sign{
margin-top: 15px;
}
.Sign:hover{
    opacity: 0.9;
}
/* section1 */
.rgb-pic{
    width: 100%;
}
.section1 h1{
 position: relative;
 font-size: 70px;
 line-height: 1.1;
 font-weight: 700;
}
.registered i{
    position: absolute;
    top: 80px;
    left: 310px;
    font-size: 13px;
  
}
.Create p{
 font-size: 20px;
 color: #4d5156;
}
.start{
   
    font-size: 18px;
    font-weight: 500;
    background-color: #80a43f;
    padding: 8px 30px;
    border-radius: 20px;

}
.start a{
    text-decoration: none;
    color: #fff;
}
.start:hover{
    opacity: 0.8;
    color: #fff;
}
.start i{
    font-size: 13px;
    margin-left:7px ;
}

.Order{
 
 font-size: 18px;
 font-weight: 500;
 margin-top: 10px;

}
.Order a{
    text-decoration: none;
    color:white ;
    background-color: #80a43f;
    padding: 10px 15px;
    border-radius: 20px;
    
}
.Order a:hover{
    color:#42493a;
    background-color: #fff;
    text-decoration: underline;
}
.solid i{
    font-size:16px;
    margin-right: 10px;
    background: #b4d678;
    color: #fff;
   
}
.solid{
    font-size: 18px;
    color: #4d5156;
    margin-top: 5px;
}
.long{
  position: relative;
}
.slide-img{
    position: absolute;
    top: 0;
    left: 0;
}
.long img{
    width: 500px;
}
.slide-img{
  
}

/* section2 */
.mockup p{
   font-size: 17px;
   color:#4d5156 ;
}
/* section3 */
.Clothing-type{
    width: 100%;
}
.Clothing{
    box-shadow:  2px 2px 2px 2px rgb(243, 242, 242);
    transition: all 0.1s;
}
.Clothing:hover{
   transform: scale(1.15);
}
.mens p{
    font-size: 18px;
    color: #4d5156;
}

.view a{
   text-decoration: none;
   color: #4d5156;
   font-size: 18px;
}
.view a:hover{
    text-decoration: underline;
    opacity: 0.8;
}

.svg-pic{
    height:100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.svg-pic2{
    position: relative;
}

/* section4 */
.offer{
    background-color: #f5f4f4;
}
.offer2 p{
  font-size: 17px;
  color: #4d5156;
}
.offer1{
   padding: 100px 0px;
}

/* section linear */
.gidiant{

}
.linear{
    background-color:#f5f1f1 ;
    height: 700px;
    width: 100%;
}

/* footer section */
.footer{

    width: 100%;
    background-color: #f5f1f1;
    position: relative;
}
.footer1{
    position: absolute;
    top: 0;
    left: 0;
   
}
.footer2{
    z-index: 1;
}
.footer2 a{
    text-decoration: none;
    color: #4d5156;
}
.footer2 a:hover{
    text-decoration: underline;
}
.footer4 a img{
  color: #4d5156;
}
.footer5 p{
    color: #4d5156;
}
.footer5{
    line-height: 0.5;
    margin-top: 15px;
}
.footer5 a{
    text-decoration: none;
    color: #4d5156;
}
.footer5 a:hover{
    color: black;
}
.footer6{
   
    margin-top: 15px;
}
.footer6 i{
    margin: 10px;
    font-size: 25px;
    color: #4d5156;
}
.footer7{
  
}

